<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minidesk">

    <application
        android:allowBackup="true"
        android:label="MiniDeskWidget"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <receiver
            android:name=".MiniDeskWidgetReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/minidesk_widget_info" />
        </receiver>

        <receiver android:name=".BatteryReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>